name: deploy-doxygen

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Doxygen
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz

      - name: Generate Documentation
        run: doxygen ./Doxyfile

      - name: Deploying to Gh-pages
        uses: jinxto/doxygen-env-setup@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}